<!-- Section for Created Items -->
 <div class="section">
  <h2 class="text-center">Your Listed Items</h2>
  <p class="text-center text-muted">Below is the history of items you've listed.</p>
  <div class="items-container">
    <% @created_items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="product-card-inner">
          <% if item.image.attached? %>
            <%= image_tag url_for(item.image), alt: item.title, class: "item-card-image" %>
          <% else %>
            <img src="https://cdn.savageuniversal.com/media/wysiwyg/2022/blog/categories/blog/041922_Lindsay_Adler_1681-a.jpeg" alt="<%= item.title %>" class="item-card-image">
          <% end %>
          <div class="item-card-content">
            <h4 class="item-title"><%= item.title %></h4>
            <h6 class="item-description"><%= truncate(item.description, length: 100) %></h6>
            <p class="item-price-per-day"><%= "#{item.price_per_day} € per day" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="section">
  <h2 class="text-center">My Rented Items</h2>
  <p class="text-center text-muted">Below is the history of items you've rented.</p>
  <div class="items-container">
    <% @booked_items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="product-card-inner">
          <% if item.image.attached? %>
            <%= image_tag url_for(item.image), alt: item.title, class: "item-card-image" %>
          <% else %>
            <img src="https://cdn.savageuniversal.com/media/wysiwyg/2022/blog/categories/blog/041922_Lindsay_Adler_1681-a.jpeg" alt="<%= item.title %>" class="item-card-image">
          <% end %>
          <div class="item-card-content">
            <h4 class="item-title"><%= item.title %></h4>
            <h6 class="item-description"><%= truncate(item.description, length: 100) %></h6>
            <p class="item-price-per-day"><%= "#{item.price_per_day} € per day" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
