<div class="search-container">
  <%= simple_form_for :search, url: root_path, method: "get" do |f| %>
  <%= f.input :opening_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :ending_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :search %>
  <%= f.button :submit, "ðŸ”" %>
<% end %>
</div>

<h1 class="title">All Items</h1>

<div class="items-container">
  <% @items.each do |item| %>
    <div class="All">
    <%= link_to item_path(item) do %>
      <div class="item-card">
        <img src="https://mitorojo.com/wp-content/uploads/2024/04/C-de-1966-rojo_1-copia.jpg" alt="<%= item.title %>" class="item-card-image">
        <div class="item-card-content">
          <h4 class="item-title"><%= item.title %></h4>
          <h6 class="item-description"><%= item.description %></h6>
          <p class ="item-price-per-day"><%= "#{item.price_per_day} â‚¬" %></p>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>
