<div class="search-container">
  <%= simple_form_for :search, url: root_path, method: "get" do |f| %>
    <%= f.input :opening_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :ending_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :search %>
    <%= button_tag type: :submit do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
</div>

<h1 class="title">COLLECTION</h1>

<div class="items-container">
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <div class="product-card-inner">
        <% if item.image.attached? %>
          <%= image_tag url_for(item.image), alt: item.title, class: "item-card-image" %>
        <% else %>
          <img src="https://cdn.savageuniversal.com/media/wysiwyg/2022/blog/categories/blog/041922_Lindsay_Adler_1681-a.jpeg" alt="<%= item.title %>" class="item-card-image">
        <% end %>
        <div class="item-card-content">
          <h4 class="item-title"><%= item.title %></h4>
          <h6 class="item-description"><%= truncate(item.description, length: 100) %></h6>
          <p class="item-price-per-day"><%= "$#{item.price_per_day} PER DAY" %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
