<div class="new-item">
<div class="list-item-card">
  <h1 class="text-center mb-4">List Your Item</h1>
  <div class="input-container">
    <%= simple_form_for @item, url: items_path, html: { class: "needs-validation" } do |f| %>
      <div class="form-inputs">
        <%= f.input :title,
                    label: "Title",
                    input_html: { class: "form-control", placeholder: "Enter the title" } %>

        <%= f.input :category,
                    collection: ["Trousers", "T-shirts", "Shoes", "Jackets", "Dresses", "Suits"],
                    label: "Category",
                    input_html: { class: "form-select" } %>

        <%= f.input :size,
                    collection: ["XS", "S", "M", "L", "XL"],
                    label: "Size",
                    input_html: { class: "form-select" } %>

        <%= f.input :condition,
                    collection: ["Horrible", "Super", "Amazing", "Mid", "Bad", "Don't know"],
                    label: "Condition",
                    input_html: { class: "form-select" } %>

        <%= f.input :price_per_day,
                    as: :numeric,
                    label: "Price Per Day (€)",
                    input_html: { step: 1.0, min: 0, class: "form-control", placeholder: "Enter the price per day" } %>

        <%= f.input :description,
                    as: :text,
                    label: "Description (min 30 characters)",
                    input_html: { class: "form-control", rows: 4, placeholder: "Describe your item" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Create Item", class: "btn-red" %>
      </div>
    <% end %>
  </div>
</div>

</div>
