<div class="img-card">
  <% if @item.images.attached? %>
    <div class="blurred-bg" style="background-image: url('<%= url_for(@item.images.first) %>');"></div>
    <%= image_tag @item.images.first, class: "product-image", alt: "Item Image" %>
  <% else %>
    <div class="blurred-bg" style="background-image: url('<%= asset_path('clothes.jpg') %>');"></div>
    <%= image_tag "clothes.jpg", class: "product-image", alt: "Placeholder Image" %>
  <% end %>
</div>


<div class="show-container">
  <div class="item-container">
    <div class="item-details">
      <h1 class="item-title"><%= @item.title %></h1>
      <p class="item-category"><strong>Category:</strong> <%= @item.category %></p>
      <p class="item-size"><strong>Size:</strong> <%= @item.size %></p>
      <p class="item-condition"><strong>Condition:</strong> <%= @item.condition %></p>
      <p class="item-description"><%= @item.description %></p>
      <p class="item-price"><strong>Price per day:</strong> $<%= @item.price_per_day %></p>
    </div>
  </div>

  <div class="rent-card" data-controller="price-calculator" data-price-calculator-daily-price-value=<%= @item.price_per_day %>>
    <h2 class="rent-price">$<%= @item.price_per_day %> PER DAY</h2>

    <%= form_with model: Booking.new, url: item_bookings_path(@item), method: :post, class: "rent-form" do |f| %>
      <div class="date-range">
        <label for="start_date">Start Date</label>
        <%= f.date_field :start_date, id: "start_date", class: "form-control", data: {price_calculator_target: "startElement", action: "input->price-calculator#calculate"} %>
        <label for="end_date">End Date</label>
        <%= f.date_field :end_date, id: "end_date", class: "form-control",  data: {price_calculator_target: "endElement", action: "input->price-calculator#calculate"} %>
        <%= f.hidden_field :total_price, data: {price_calculator_target: "totalPrice"} %>
      </div>
      <%= f.submit "RENT", class: "rent-button" %>
    <% end %>

    <div class="summary">
      <h3>Summary</h3>
      <p><span  data-price-calculator-target= "daysElement" id="num-days">0</span> days × $<%= @item.price_per_day %></p>
      <p>Additional Fee: $5</p>
      <h4>Total: $<span data-price-calculator-target= "totalElement" id="total-price">5</span></h4>
    </div>
  </div>

  </div>

  <div class="reviews-section">
  <h2>Reviews</h2>

  <% if @reviews.any? %>
    <!-- Carousel -->
    <div id="reviews-carousel" class="carousel">
      <% @reviews.each do |review| %>
        <div class="review-card">
          <p class="review-rating"> <%= review.rating %> / 5 &#9733</p>
          <p class="review-comment">"<%= review.comment.truncate(300) %>"</p>
          <p class="review-author">- <%= review.booking.user.first_name %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No reviews yet for this item.</p>
  <% end %>

</div>

<% booking = Booking.find_by(user: current_user , item: @item, end_date: ..(Date.today - 1)) %>
<% if booking %>
    <div class="form-review-card">
    <h1>Leave a Review</h1>
    <div class="input-container">
      <%= simple_form_for([booking, @review]) do |f| %>
        <div class="form-inputs">
          <div class="input">
            <%= f.input :rating,
                        as: :select,
                        collection: [1, 2, 3, 4, 5],
                        label: "Rating",
                        input_html: { class: "form-control" } %>
          </div>
          <div class="input">
            <%= f.input :comment,
                        as: :text,
                        label: "Comment",
                        input_html: { rows: 4, placeholder: "Write your review here", class: "form-control" } %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Submit Review", class: "btn-red" %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
 <p>You must book this item to leave a review.</p>
<% end %>

<%# I will have to now use the the days (user input --- id="num-days") and multiply them by the @item.price_per_day + 5 $ fee
this will result in the "total-price"

after clciking the RENT button I will be forwaded to the log in/ sign up page (Marc) then redirect to the show to complete the renting process!
then I wil have to somehow save this data to be able to view my past rentals a s a user %>

<%# reviews/ probably cards in the items-container and generated with avatar and username maybe picture  %>
 <%# attach Sjs controller  %>
